.pop-up__error {
  display: none;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #FF0000;
  margin: 0 0 30px 0;
}

.pop-up__error:last-of-type {
  margin: 0;
}
