.pop-up__save-button {
  margin: 0;
  padding: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  background-color: #000;
  border-radius: 2px;
  color: #fff;
  height: 50px;
  border: none;
  transition: opacity .5s ease-out;
}

.pop-up__save-button:hover {
  opacity: .8;
  cursor: pointer;
}

@media screen and (max-width: 767px) {
  .pop-up__save-button {
    font-size: 14px;
    line-height: 17px;
    height: 46px;
  }
}
