.photo-grid__delete-button {
  background-image: url('../../../images/delete.svg');
  width: 19px;
  height: 18px;
  border: none;
  background-color: transparent;
  transition: opacity .5s ease-out;
  position: absolute;
  right: 20px;
  top: 20px;
  display: block;
}

.photo-grid__delete-button:hover {
  opacity: .6;
  cursor: pointer;
}
