.pop-up__close-button {
  background-color: rgba(0, 0, 0, 0);
  background-size: cover;
  border: none;
  line-height: 0;
  margin: 0;
  padding: 0;
  background-image: url('../../../images/Close_Icon.svg');
  width: 32px;
  height: 32px;
  position: absolute;
  top: -40px;
  right: -40px;
}

@media screen and (max-width: 767px) {
  .pop-up__close-button {
    width: 20px;
    height: 20px;
    top: -36px;
    right: 0;
  }
}
