.profile__info {
  display: flex;
  flex-direction: row;
  line-height: 0;
  margin: 0;
}

@media screen and (max-width: 767px) {
  .profile__info {
    margin-top: 26px;
    justify-content: center;
    padding-left: 27px;
  }

}
